<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        const ROOM_ID =  '<%= roomId %>'
    </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script defer src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <link rel="stylesheet" href="stylesheet.css">
    <script src="https://kit.fontawesome.com/21984cd01f.js" crossorigin="anonymous"></script>
    <script src="script.js" defer></script>
    <title>Project</title>
    <style>

    #video-grid{
         display: flex;
         justify-content: center;
         flex-wrap: wrap;
      }
      video{
         height: 300px;
         width: 400px;
         object-fit: cover;
         padding: 8px;
         border: solid;
      }

    </style>
</head>
<body>
    <div class="main">
        <div class="mainContent">
           <div class="Videos">
              <div id="video-grid">
        
              </div>
              
           </div>
           <div class="Controls">
              <div class="Controls__block">
                 <div onclick="muteUnmute()" class="Controls__button mute_button">
                    <i class="fa-solid fa-microphone"></i>
                    <span>Mute</span>
                 </div>
                 <div onclick="playStop()" class="Controls__button video_button" >
                    <i class="fa-solid fa-video"></i>
                    <span>Stop Video</span>
                 </div>
             </div><div onclick="shareScreenn()" class="Controls__button sharescreen_button">
                  <i class="fa-solid fa-desktop"></i>
                  <span>Share Screen</span>
                </div>
           </div>
        </div>
        <div class="chatSide">
           <div class="main__header">
              <div class="CollapseF" onclick="CollapseF()"> 
                 <i class="fa-solid fa-arrow-right" id="right"> </i>
              </div>
              <h6 style="background-color: #1a181e;
              padding: 5px 5px;
              user-select: none;">Chat</h6>
           </div>
           <div class="chatSide ChattersContainer">
              <ul class="messages">
                 
              </ul>
  
           </div>
           <div class="chatSide messageContainer">
              <input id="chat_message" type="text" placeholder="Type message here...">
           </div>
        </div>
        
     </div>
</body>
</html>